<section class="comment-new container">
  <h3 class="comments-new-heading">レビュー内容</h3>
  <div class="row mb-3">
    <div class="review_info col-md-3 text-center">
      <% if @review.user.profile_image.attached? %>
        <%= image_tag @review.user.profile_image, class: "user-profile-image-show" %><br>
      <% else %>
        <%= image_tag "no_image.jpg", class: "user-profile-image" %><br>
      <% end %><br>
        <%= @review.user.nickname %>
    </div>
    <div class="col-md-9">
        <span id="score_review_star_<%= @review.id %>"></span><br>
        <script>
          // $('#star').empty();
              raty(document.querySelector('#score_review_star_<%= @review.id %>'), {
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',

                score: <%= @review.star %>,
                readOnly: true
              });
        </script>
        <%= link_to score_review_path(@review.score, @review) do %>
          <%= @review.title %><br>
        <% end %>
          <%= @review.body %>
    </div>
  </div>
  <div class="border border-info border-4 mr-2 p-2 w-75"><i class="fa-solid fa-comment ml-5"><span class="ml-2">新規コメント</span></i></h5>
    <div class="row">
      <div class="col-md-3 text-center">
        <% if current_user.profile_image.attached? %>
          <%= image_tag current_user.profile_image, class: "user-profile-image-show" %><br>
        <% else %>
          <%= image_tag "no_image.jpg", class: "user-profile-image" %><br>
        <% end %>
      </div>
      <div class="col-md-9">
        <%=  form_with(model:[@score, @review, @comment], url: score_review_comments_path, method: :post) do |f| %>
          <%= f.text_field :body, :size=>"50x30" %>
          <%= f.hidden_field :review_id, value: @review.id %>
          <div class="d-flex button mx-auto justify-content-center mt-2">
            <%= f.submit "コメントを投稿する", class: "btn btn-sm btn-success" %>
          </div>
        <% end %>
       </div>
    </div>
  <div class="row d-flex justify-content-center">
    <strong class="text-danger"><%= flash[:notice] %></strong>
  </div>
</section>