<section class="top container">
  <div class="row mb-5">
    <div class="col text-center">
      <h3>
        アカペラ楽譜レビューサイトへようこそ！<br>
        難易度やアレンジ等自分が求めている楽譜が見つかります！
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form_with url: search_detail_scores_path, local: true, method: :get do |f| %>
        <table class="search-table">
          <tbody>
            <tr>
              <th><%= f.label :artist, "歌手" %></th>
              <td><%= f.text_field :artist %></td>
            </tr>
            <tr>
              <th><%= f.label :name, "曲名" %></th>
              <td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <th>グループ構成人数</th>
              <td>
                <%= f.radio_button :member, Score.members.values[0] %><%= f.label :member, Score.members_i18n[:three], value: Score.members.values[0] %>
                <%= f.radio_button :member, Score.members.values[1] %><%= f.label :member, Score.members_i18n[:four], value: Score.members.values[1] %>
                <%= f.radio_button :member, Score.members.values[2] %><%= f.label :member, Score.members_i18n[:five], value: Score.members.values[2] %>
                <%= f.radio_button :member, Score.members.values[3] %><%= f.label :member, Score.members_i18n[:six], value: Score.members.values[3] %>
                <%= f.radio_button :member, Score.members.values[4] %><%= f.label :member, Score.members_i18n[:seven_or_more], value: Score.members.values[4] %>
                <%= f.radio_button :member, Score.members.values[5] %><%= f.label :member, Score.members_i18n[:boys], value: Score.members.values[5] %>
                <%= f.radio_button :member, Score.members.values[6] %><%= f.label :member, Score.members_i18n[:girls], value: Score.members.values[6] %>
              </td>
            </tr>
            <tr>
              <th>難易度</th>
              <td>
                <%= f.radio_button :difficulty, Score.difficulties.values[0] %><%= f.label :difficulty, Score.difficulties_i18n[:introduction], value: Score.difficulties.values[0] %>
                <%= f.radio_button :difficulty, Score.difficulties.values[1] %><%= f.label :difficulty, Score.difficulties_i18n[:biginner], value: Score.difficulties.values[1] %>
                <%= f.radio_button :difficulty, Score.difficulties.values[2] %><%= f.label :difficulty, Score.difficulties_i18n[:intermediate], value: Score.difficulties.values[2] %>
                <%= f.radio_button :difficulty, Score.difficulties.values[3] %><%= f.label :difficulty, Score.difficulties_i18n[:advanced], value: Score.difficulties.values[3] %>
                <%= f.radio_button :difficulty, Score.difficulties.values[4] %><%= f.label :difficulty, Score.difficulties_i18n[:superlative], value: Score.difficulties.values[4] %>
              </td>
            </tr>
            <tr>
              <th>アレンジ内容</th>
              <td>
                <%= f.collection_check_boxes :arrange_ids, Arrange.all, :id, :body, include_hidden: false do |b| %>
                  <%= b.check_box %>
                  <%= b.label %>
                <% end %>
              </td>
          </tbody>
        </table>
        <div class="text-center">
          <%= button_tag type: "submit", class: "border rounded-pill shadow-l search-btn btn btn-info mx-auto" do %>
	          <i class="fas fa-search"><span class="text-light">楽譜を検索する</span></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
 <div class="newscore-heading">
    <h4><strong>新着楽譜</strong></h4>
  </div>

  </div>

  <div class="row">
      <% @scores.each do |score| %>
        <div class="col-md-3">
          <% if score.site.name == "アカペラ本舗" %>
            <%= link_to asset_url("https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG_omiYkNVym1Sd6g5T38MuTBDc4e9p3cTQ3M1cJm6kfTuitexCuBj1N0kIYMSiPh4uju4KrP8eZQfGEze7KR8YgXg4AX6ibGdJwAqBzN_V3fRpXI8zagw7M7s6pqkyURoNtEBa1uLar3vNFb-CCICfGNJ6g6aGJLt-uJqmg_oIyi94IFkUCLbBhPSFPWp5b4hmBt0ouQUyW-mBf9fuJvgo0ucZcnl9nFAaQx4uB5ICpl/6Xr1RAma_400x400.jpg?errorImage=false") do %>
              <%= image_tag "https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG_omiYkNVym1Sd6g5T38MuTBDc4e9p3cTQ3M1cJm6kfTuitexCuBj1N0kIYMSiPh4uju4KrP8eZQfGEze7KR8YgXg4AX6ibGdJwAqBzN_V3fRpXI8zagw7M7s6pqkyURoNtEBa1uLar3vNFb-CCICfGNJ6g6aGJLt-uJqmg_oIyi94IFkUCLbBhPSFPWp5b4hmBt0ouQUyW-mBf9fuJvgo0ucZcnl9nFAaQx4uB5ICpl/6Xr1RAma_400x400.jpg?errorImage=false", class: "score-image" %>
            <% end %>
          <% elsif score.site.name == "kingscore" %>
            <%= link_to asset_url("https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG7BTWOaxwwBCJKtdYdxots0g9whvrp4B8hwvvvde070kkAAksGKiLlvjd3mPc6J24RiwiobguTd2Yg5ZW0MddUbe2IEsJF_T_2gTabcOOQDOruyhYtPMKN9cl1Ymiz7IK0sMFCk_H6IXylJ9N8Iz9vguWRWa0roc552HRXiKhDJngxIu-mi8AbFst24xpAh0fOW_VBvnIXBnByZ2oMXG8N22hHaY6cJe-Vr1MLG3yW0Ssn4GUkUkoGAhzfVgK14xD4Nk1FqJ9eE0Kz8G6BZUDmg=/kingscore_card.png?errorImage=false") do %>
              <%= image_tag "https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG7BTWOaxwwBCJKtdYdxots0g9whvrp4B8hwvvvde070kkAAksGKiLlvjd3mPc6J24RiwiobguTd2Yg5ZW0MddUbe2IEsJF_T_2gTabcOOQDOruyhYtPMKN9cl1Ymiz7IK0sMFCk_H6IXylJ9N8Iz9vguWRWa0roc552HRXiKhDJngxIu-mi8AbFst24xpAh0fOW_VBvnIXBnByZ2oMXG8N22hHaY6cJe-Vr1MLG3yW0Ssn4GUkUkoGAhzfVgK14xD4Nk1FqJ9eE0Kz8G6BZUDmg=/kingscore_card.png?errorImage=false", class: "score-image" %>
            <% end %>
          <% elsif score.site.name == "Piascore"%>
            <%= link_to asset_url("https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqGygSacSmZfxx6LzR4eH474p8MhQtUnfclPlQd7NME-tG0l4dA0J8GWupDY7J8BsqH3LcTdqSVSsIZXoYyf16ivgwZ7-xjHfY_cG8AioMPkvXWBe4te9E1FdMlqmB2iO93F3jiGA51PySJ9cvKfJyRJUCGGUhaYvcOmmnv3ECyu4j/default.png?errorImage=false") do %>
              <%= image_tag "https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqGygSacSmZfxx6LzR4eH474p8MhQtUnfclPlQd7NME-tG0l4dA0J8GWupDY7J8BsqH3LcTdqSVSsIZXoYyf16ivgwZ7-xjHfY_cG8AioMPkvXWBe4te9E1FdMlqmB2iO93F3jiGA51PySJ9cvKfJyRJUCGGUhaYvcOmmnv3ECyu4j/default.png?errorImage=false", class: "score-image" %>
            <% end %>
          <% elsif %>
            <%= image_tag score.get_image(100,100), class: "score_image" %>
          <% end %>

          <%= link_to score_path(score.id) do %>  
            <p><strong class="text-light"><%= score.name %>/</strong>
            <strong class="text-light"><%= score.artist %></strong></p>
          <% end %>
        </div>
      <% end %>
  </div>

  <div class="row link-all-scores d-flex justify-content-center">
      <%= link_to '全ての楽譜を見る＞', scores_path, class: "border rounded-pill shadow-l search-btn btn btn-primary mx-auto text-light" %>
  </div>
</section>