<section class="admin-top">
  <h3 class="section-ttl">カテゴリー一覧</h3>
  <div class="container">
    <div class="row">
      <div class ="col">
        <div class="field">
          <%= form_with model: @site_new, url: admin_sites_path do |f| %>
            <%= f.text_field :name %>
            <%= f.submit "新規登録", class: "btn btn-sm btn-success" %>
          <% end %>  
        </div>
        <table class="table">
          <thead>
            <th class="font-weight-bold table-active">      楽譜購入サイト</th>
            <th class="table-active" colspan="1"></th>
          </thead>
          <tbody>
            <% @sites.each do |site| %>
              <tr>
                <td><%= site.name %></td>
                <td><%= link_to "編集する", edit_admin_site_path(site.id), class: "btn btn-sm btn-success" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

      <div class ="col">
        <div class="field">
          <%= form_with model: @arrange_new, url: admin_arranges_path do |f| %>
            <%= f.text_field :body %>
            <%= f.submit "新規登録", class: "btn btn-sm btn-success" %>
          <% end %>  
        </div>
        <table class="table">
          <thead>
            <th class="font-weight-bold table-active">      アレンジ内容</th>
            <th class="table-active" colspan="1"></th>
          </thead>
          <tbody>
            <% @arranges.each do |arrange| %>
              <tr>
                <td><%= arrange.body %></td>
                <td><%= link_to "編集する", edit_admin_arrange_path(arrange.id), class: "btn btn-sm btn-success" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>