<span id="score_review_star_<%= review.id %>"></span><br>
<script>
  // $('#star').empty();
      raty(document.querySelector('#score_review_star_<%= review.id %>'), {
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',

        score: <%= review.star %>,
        readOnly: true
      });
</script><br>