<div class="starrate">
<%# 平均点を算出し、round関数で切り上げ %>
  <%=@all_rating %>：<%= @reviews.average(:all_rating).to_f.round(1) %>
  <%# 評価数を星に置き換える %>
  <div class="average-review-rating" data-score=<%= @reviews.average(:all_rating) %>></div>
  <%# jquery発火イベントを記載%>
  <script>
    $('.average-review-rating').raty({
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: function() {
        return $(this).attr('data-score')
      }
    });
  </script>
  <br>

  <%# rating1%>
  <%=@all_rating %>：<%= @reviews.average(:rating1).to_f.round(1) %>
  <%# 評価数を星に置き換える %>
  <div class="average-review-rating" data-score=<%= @reviews.average(:rating1) %>></div>
  <%# jquery発火イベントを記載%>
  <script>
    $('.average-review-rating').raty({
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: function() {
        return $(this).attr('data-score')
      }
    });
  </script>
  <br>

  <%# rating2%>
  <%=@all_rating %>：<%= @reviews.average(:rating2).to_f.round(1) %>
  <%# 評価数を星に置き換える %>
  <div class="average-review-rating" data-score=<%= @reviews.average(:rating2) %>></div>
  <%# jquery発火イベントを記載%>
  <script>
    $('.average-review-rating').raty({
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: function() {
        return $(this).attr('data-score')
      }
    });
  </script>
  <br>

  <%# rating3%>
  <%=@all_rating %>：<%= @reviews.average(:rating3).to_f.round(1) %>
  <%# 評価数を星に置き換える %>
  <div class="average-review-rating" data-score=<%= @reviews.average(:rating3) %>></div>
  <%# jquery発火イベントを記載%>
  <script>
    $('.average-review-rating').raty({
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: function() {
        return $(this).attr('data-score')
      }
    });
  </script>
  <br>

  <%# rating4%>
  <%=@all_rating %>：<%= @reviews.average(:rating4).to_f.round(1) %>
  <%# 評価数を星に置き換える %>
  <div class="average-review-rating" data-score=<%= @reviews.average(:rating4) %>></div>
  <%# jquery発火イベントを記載%>
  <script>
    $('.average-review-rating').raty({
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: function() {
        return $(this).attr('data-score')
      }
    });
  </script>
  <br>

</div>