<section class="review-index">
  <div class="container">
    <div class="row">
      <h3 class="review-index-heading">レビュー一覧</h3>
      <div class="col">
        <%= image_tag @user.get_image, class: "score_image" %>
      </div>
      <div class="col">
        <strong><%= @score.name %>/<%= @score.artist %></strong>
        <span class="border border-info border-3 mr-2">楽譜購入サイト</span>
        <%= @score.sites %>
        <span class="border border-info border-3 mr-2">楽譜購入サイト</span>
        <%= @score.
      </div>
    </div>
  </div>
</section>