<section class="review-show container">
  <h3 class="review-show-heading">
    レビュー詳細
  </h3>
  <div class="row score_info">
    <div class="col-md-3 d-flex justify-content-center mb-5">
      <%= render 'public/scores/image_link', score: @score %>
    </div>
    <div class="col-md-9">
      <h4 class="ml-2 mb-5"><%= @score.name %> / <%= @score.artist %></h4>
       <span class="border border-info border-4 rounded-pill mr-2 p-2 bg-info text-light font-weight-bold">購入サイト</span><strong><%= @score.site.name %></strong>
      <span class="border border-info border-4 rounded-pill mr-2 p-2 bg-info text-light font-weight-bold">構成人数</span><strong><%= @score.member_i18n %></strong>
      <span class="border border-info border-4 rounded-pill mr-2 p-2 bg-info text-light font-weight-bold">難易度</span><strong><%= @score.difficulty_i18n %></strong>
      <% if @score.arranges.present? %>
        <span class="border border-info border-4 rounded-pill mr-2 p-2 bg-info text-light font-weight-bold">アレンジ内容</span>
      <% end %>
      <% @score.arranges.each do |arrange| %>
        <strong><%= arrange.body %></strong>
      <% end %>
    </div>
  </div>
  <div class="row mb-5">
      <div class="review_info col-md-3 text-center">
        <%= render "review_user_profile", review: @review %>
        <%= @review.user.nickname %>
        <p>投稿日▶<%= @review.created_at.strftime('%Y/%m/%d') %></p>
      </div>
        <div class="col-md-9">
            <%= render "public/reviews/review_show_star", review: @review %>
            <%= link_to score_review_path(@score, @review) do %>
              <%= @review.title %><br>
            <% end %>
              <%= @review.body %>

          <% if @user == @review.user %>
            <div class="button">
              <%= link_to "編集する", edit_score_review_path(@review.score_id, @review), class: "btn btn-sm btn-success" %>
            </div>
          <% end %>
        </div>
  </div>
  <h4 class="comments-index-heading ml-5">コメント一覧</h4>
  <div class="d-flex row mb-5">
    <% @review.comments.each do |comment| %>
      <div class="col-md-4 mb-3">
        <% if comment.user.profile_image.attached? %>
          <%= image_tag comment.user.profile_image, class: "user-profile-image-show" %>
        <% else %>
          <%= image_tag "no_image.jpg", class: "user-profile-image" %>
        <% end %>
        <%= comment.body %>
        <p>投稿日▶<%= comment.created_at.strftime('%Y/%m/%d') %></p>
      </div>
    <% end %>
  </div>


  <div class="row">
    <div class="col text-center">
      <% if @review.user != current_user %>
        <%= link_to "コメントを投稿する", new_score_review_comment_path(@score, @review), class: "btn btn-sm btn-outline-info" %>
      <% end %>
    </div>
  </div>
</section>