<section class="container">
  <h3 class="section-ttl">楽譜編集</h3>
  <div class="row">
    <%= form_with model: @score, url: score_path(@score), method: :patch do |f| %>
      <div class="col">
        <table class="score_info score_form">
          <thead>
            <th></th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <th><%= f.label :artist, "歌手" %></th>
              <td><%= f.text_field :artist, :placeholder =>"#{@score.artist}" %></td>
            </tr>
            <tr>
              <th><%= f.label :name, "曲名" %></th>
              <td><%= f.text_field :name, :placeholder =>"#{@score.name}" %></td>
            </tr>
            <tr>
              <th><%= f.label :site_id, "楽譜購入サイト" %></th>
              <td><%= f.collection_select :site_id, Site.all, :id, :name %></td>
            </tr>
            <tr>
              <th><%= f.label :member, "グループ構成人数" %></th>
              <td>
                <%= f.select :member, Score.members_i18n.invert, {prompt: false}, class:"form-control form-control-sm col-6 order-status form_date_select" %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :difficulty, "難易度" %></th>
              <td>
                <%= f.select :difficulty, Score.difficulties_i18n.invert, {prompt: false}, class:"form-control form-control-sm col-6 order-status form_date_select" %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :sales_status, "アレンジ内容" %></th>
              <td class="select_field">
                <%= f.collection_check_boxes(:arrange_ids, Arrange.all, :id, :body, include_hidden: false) do |arrange| %>
                  <%= arrange.label do %>
                    <%= arrange.check_box %>
                    <%= arrange.text %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center pl5 btn_submit btn_delete">
          <%= f.submit "変更を保存", class: "btn btn-sm btn-outline-success" %>
          <span class="ml-3"><%= link_to "楽譜を削除", score_path(@score), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-sm btn-outline-danger" %></span>
        </div>
      </div>
    <% end %>

</section>