<section class="wrapper flex container">
  <h3 class="section-ttl">楽譜一覧 (全<%= @all_scores_count %>件)</h3>
  <div class="content">
    <div class="row">
      <% @scores.each do |score| %>
        <div class="col-md-3">
          <%= link_to score_path(score) do %>
            <%= image_tag score.get_image(100,100) %>
            <h5><%= score.name %></h5>
            <p><%= score.artist %></p>
          <% end %>
          <!--タグの表示 -->
          <% score.arranges.each do |arrange| %>
            <%= arrange.body %>
          <% end %>
        </div>  
      <% end %>
    </div>
  </div>
  
  <div class="row d-flex justify-content-center">
    <%= paginate @scores %>
  </div>
</section>