<%= form_with model:score, url: url do |f| %>
	<%= render 'layouts/error_messages', resource: score %>
	<div class="flex">
		<div>
			<%= f.label :image, "画像" %>
			<div class="image_field">
				<%= image_tag (score.image.attached? ? score.image : 'no-image.png'), id: "img_prev", class: "admin_score_image" %>
				<span class="btn btn-file btn-info"><%= f.file_field :image,  accept:'image/*' %>画像選択</span>
				<p>選択するとプレビューされます。<br>画像未選択のままだと、<br>「画像準備中」になります。</p>
			</div>
		</div>
		<table class="admin_score_info score_form">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= f.label :name, "曲名" %></td>
					<td><%= f.text_field :name %></td>
				</tr>
				<tr>
					<td><%= f.label :artist, "歌手" %></td>
					<td><%= f.text_field :artist %></td>
				</tr>
				<tr>
					<td><%= f.label :sites_id, "楽譜購入サイト" %></td>
					<td class="select_field"><%= f.collection_select :sites_id, Sites.all, :id, :name %></td>
				</tr>
				<tr>
					<td><%= f.label :member, "グループ構成人数" %></td>
					<td><%= f.radio_button :member, "three" %></td>
					<td><%= f.radio_button :member, "four" %></td>
					<td><%= f.radio_button :member, "five" %></td>
					<td><%= f.radio_button :member, "six" %></td>
					<td><%= f.radio_button :member, "seven_or_more" %></td>
					<td><%= f.radio_button :member, "boys" %></td>
					<td><%= f.radio_button :member, "girls" %></td>
				</tr>
				<tr>
					<td><%= f.label :difficulty, "難易度" %></td>
					<td><%= f.radio_button :difficulty, "introduction" %></td>
					<td><%= f.radio_button :difficulty, "biginner" %></td>
					<td><%= f.radio_button :difficulty, "intermediate" %></td>
					<td><%= f.radio_button :difficulty, "advanced" %></td>
					<td><%= f.radio_button :difficulty, "superlative" %></td>
				</tr>
				<tr>
					<td><%= f.label :sales_status, "アレンジ内容" %></td>
					<td class="select_field"><%= f.collection_select :arranges_id, Arranges.all, :id, :name %></td>
				</tr>
			</tbody>
		</table>
		<div class="flex align-center pl5">
			<%= f.submit submit, class: "btn btn-primary" %>
		</div>
	</div>
<% end %>