<section class="score-show container">
  <h3 class="section-ttl">楽譜詳細</h3>
  <div class="row">
    <div class="col-md-2">
      <%= image_tag @score.get_image(100,100), class: "score_image" %>
    </div>
    <div class="col-md-10">
      <table class="score_show">
        <thead>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td class="font-weight-bold"><%= @score.artist %> / <%= @score.name %></td>
          </tr>
          <tr>
            <td>楽譜購入サイト</td>
            <td><%= @score.site.name %></td>
          </tr>
          <tr>
            <td>グループ構成人数</td>
            <td><%= @score.member_i18n %></td>
          </tr>
          <tr>
            <td>難易度</td>
            <td><%= @score.difficulty_i18n %></td>
          </tr>
          <tr>
            <td>アレンジ内容</td>
            <td>
              <% @score.arranges.each do |arrange| %>
                <%= arrange.body %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <% @score.reviews.each do |review| %>
      ID <%= review.user_id %>
      <%= link_to score_review_path(score_id: @score.id, id: review.id) do %><!--明示的な方法でpathに引数を渡す-->
        <%= simple_format(review.body) %>
      <% end %>
      <span id="score_review_star_<%= review.id %>"></span>
      <script>
        // $('#star').empty();
            raty(document.querySelector('#score_review_star_<%= review.id %>'), {
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',

              score: <%= review.star %>,
              readOnly: true
            });
      </script>
    <% end %>
  </div>

  <div>
    <%= render 'public/reviews/form', review: @review, score: @score %>
  </div>
  
  <div class="row d-flex justify-content-center">
    <strong class="text-danger"><%= flash[:notice] %></strong>
  </div>  
</section>