<section class="user-show container">
      <div class="row">
          <div class="col">
            <h4 class="user-heading"><strong>ユーザー情報詳細</strong></h4>
          </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= image_tag @user.get_image(100,100), class: "user-profile-image" %><br>
            <strong><span><%= @user.nickname %>さん</span><br>
            <span>ID：<%= @user.id %></span></strong>
        </div>
        <div class="col-md-9">
          <table class="table text-light">

            <tbody>
              <tr>
                <th>メールアドレス</th>
                <td><%= @user.email%></td>
              </tr>
              <tr>
                <th>年齢</th>
                <td><%= @user.birthday %></td>
              </tr>
              <tr>
                <th>性別</th>
                <td><%= @user.sex_i18n %></td>
              </tr>
              <tr>
                <th>アカペラ歴</th>
                <td><%= @user.experience %>年</td>
              </tr>
              <tr>
                <th>主な担当パート</th>
                <td><%= @user.part_i18n %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="button mx-auto">
          <%= link_to "情報を編集", edit_admin_user_path, class: "btn btn-sm btn-success" %>
        </div>
      </div>
</section>