<section class="container">
  <h3 class="section-ttl center-block">アカウントをお持ちの方はこちらからログイン</h3>

    <div class="rogin-filed d-flex justify-content-center">
      <%= form_with model: @user, url: session_path(resource_name), local: true do |f| %>
        <div class="field mb2">
          <%= f.label 'メールアドレス', class: "user-login" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field mb2">
          <%= f.label 'パスワード', class: "user-login" %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions d-flex justify-content-center">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="buttons d-flex justify-content-center mt-5">
      <p><%= link_to "新規登録", new_user_registration_path, class: "btn btn-info" %></p>
    </div>

    <div class="buttons d-flex justify-content-center mt-2">
      <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-warning text-white" %>
    </div>
</section>
