<section class=" container admin-score-index">
    <h3 class="score-index-heading">楽譜投稿一覧</h3>
    <div class="row mt-5">
      <% @scores.each do |score| %>
        <div class="col-md-3 mb-5">
          <%= link_to admin_score_path(score.id) do %>
            <%= image_tag score.image, size: '150x100'%>
          <% end %><br>
          <span>曲名:<%= score.name %></span><br>
          <span>歌手:<%= score.artist %></span>
        </div>
      <% end %>
    </div>

  <div class="row mt-5">
    <div class="col d-flex justify-content-center">
      <div class="pagination">
        <%= paginate @scores %>
      </div>
    </div>
  </div>
</section>