<section class="inner">
	<h3 class="section-ttl">会員情報編集</h3>
	<%= form_with model:@user, url: update_information_path do |f| %>
		<%= render 'devise/shared/error_messages', resource: @user %>
		<div class="col">
		  <!--ユーザー画像 -->
		</div>
		<div class="col">
			<%= f.label :nickname, "ニックネーム" %>
		  <%= f.text_field :nickname, :placeholder =>"#{@user.nickname}" %>
		</div>
		<table class="customer_info customer_form">
			<thead>
				<th></th>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				<tr>
					<td><%= f.label :email, "メールアドレス" %></td>
					<td colspan="2"><%= f.email_field :email, autocomplete: "email", :placeholder =>"#{@user.email}" %></td>
				</tr>
				<tr>
					<td><%= f.label :birthday, "生年月日" %></td>
					<td colspan="2"><%= f.date_select :birthday, start_year: 1950, end_year: Time.now.year, include_blank: true, use_two_digit_numbers: true, class: "input-tab birthday-select", :placeholder =>"#{@user.birthday}" %></td>
				</tr>
				<tr>
					<th><%= f.label :sex, "性別" %></th>
					<td><%= f.text_field :sex, autocomplete: "sex", :placehodler => "#{@user.sex_i18n}" %></td>
				</tr>
				<tr>
					<td><%= f.label :experience, "アカペラ歴" %></td>
					<td colspan="2"><%= f.text_field :experience, autocomplete: "experience", :placeholder =>"#{@user.experience}" %>年</td>
				</tr>
				<tr>
					<td><%= f.label :part, "主な担当パート" %></td>
					<td colspan="2">
						<%= f.collection_check_boxes :part, User.parts, :first, :first do |s| %>
						  <%= s.check_box :checked: @user.parts.nil? || @user.parts.include?(s.value) %>
						  <%= s.label "parts.#{s.text}"%>
						<% end %>  
						<%= f.check_box :part, id: :users_part, checked:true, :placeholder =>"#{@user.part_i18n}", class: "part" %></td>
				</tr>
				<tr>
					<td colspan="2"><%= f.submit "変更を保存", class: "btn btn-primary ml2" %></td>
					<td><%= link_to "退会する", withdraw_users_path, method: :patch, class: "btn btn-danger" %></td>
				</tr>
			</tbody>
		</table>
	<% end %>
</section>