<section class="wrapper flex container">
  <div class="content">
      <h3 class="section-ttl"><%= @user.nickname %>さんのレビュー履歴一覧</h3>
      <div class="reviews row">
        <% @reviews.each do |review| %>
          <div class="score col-md-3 mb-3">
            <h6 class="text-light"><%= review.score.name %>/<%= review.score.artist %></h6>
            <span id="score_review_star_<%= review.id %>"></span><br>
            <script>
              // $('#star').empty();
                  raty(document.querySelector('#score_review_star_<%= review.id %>'), {
                    size     : 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
            
                    score: <%= review.star %>,
                    readOnly: true
                  });
            </script><br>            
            <%= link_to score_review_path(review.score_id, review.id) do %>
              <span class="text-light">レビュータイトル：<%= review.title %></span><br>
              <span class="text-light">レビュー内容：<%= review.body %></span>
            <% end %>  
          </div>
        <% end %>
      </div>
      <%= paginate @reviews %>
  </div>
</section>