<section class="wrapper flex container">
  <div class="content">
      <h3 class="section-ttl">楽譜投稿履歴一覧</h3>
      <div class="scores row">
        <% @scores.each do |score| %>
          <div class="col-md-3">
            <%= link_to score_path(score) do %>
              <%= image_tag score.get_image(100,100), format: "jpeg", fallback: "no-image.png" %><br>
              <h5><%= score.name %></h5>
              <p><%= score.artist %></p>
            <% end %>
            <!--タグの表示 -->
            <% if score.arranges.present? %><!--アレンジ内容があるScoreは見出し表示-->
              <h5><アレンジ内容></h5>
            <% end %>  
            <% score.arranges.each do |arrange| %>
              <%= arrange.body %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= paginate @scores %>
  </div>
</section>