<section class="inner container">
  <% if flash[:notice] %>
    <p class="text-active"><%= flash[:notice] %></p>
  <% end %>
  <div class="col d-flex">
    <h3 class="section-ttl d-inline mr-5"><%= @user.nickname %>さんのマイページ</h3>
    <% if @user.email != 'guest@example.com' %>
      <%= link_to "楽譜投稿", new_score_path, class: "btn btn-outline-success ml-2 d-flex align-items-center" %>
      <%= link_to "レビュー一覧", user_reviews_path, class: "btn btn-outline-primary ml-2 d-flex align-items-center" %>
      <%= link_to "投稿一覧", user_scores_path, class: "text-light btn btn-outline-warning ml-2 d-flex align-items-center" %>
    <% end %>
  </div>

  <div class="row mt-3">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <%= image_tag @user.get_image(100,100), class: "user-profile-image" %>
    </div>
      <div class="col-md-9 text-left">
      	<table align="left", cellspacing="5", class="user-info-table mb3 ">
      		<thead>
      			<th></th>
      			<th></th>
      			<th></th>
      		</thead>
      		<tbody>
      			<tr>
      				<td>メールアドレス</td>
      				<td colespan="2"><%= @user.email %></td>
      			</tr>
      			<tr>
      				<td>年齢</td>
      				<td colespan="2"> <%= @user.birthday %></td>
      			</tr>
      			<tr>
      				<td>性別</td></td>
      				<td colspan="2"><%= @user.sex_i18n %></td>
      			</tr>
      			<tr>
      				<td>アカペラ歴</td>
      				<td colspan="2"><%= @user.experience %>年</td>
      			</tr>
      			<tr>
      				<td>主な担当パート</td>
      				<td colspan="2"><%= @user.part_i18n %></td>
      			</tr>
      		</tbody>
      	</table>
      </div>
    </div>
      	<div class="d-flex justify-content-center">
          <% if @user.email != 'guest@example.com' %>
            <%= link_to "ユーザー情報編集", edit_information_path, class: "btn btn-success" %>
          <% else %>
            <p class="mt-5">※ゲストユーザーはユーザー情報の編集ができません。</p>
          <% end %>
      	</div>
</section>