<!DOCTYPE html>
<html>
  <head>
    <title>AccascoReview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>

  <body>
    <header>
      <div class="header-content">
        <ul class="flex">
          <% if admin_signed_in? %>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          <% elsif user_signed_in? %>
            <li><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %></li>
            <li></li>
            <li></li>
          <% else %>
            <li></li>
            <li></li>
            <li></li>
          <% end %>  
        </ul>
      </div>
      
    </header>
    
    <main>
      <%= yield %>
    </main>  
  </body>
</html>
